{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Share{% endblock  %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
{% block body %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
        "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="post">
            {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Send e-mail">
        </form>
    {% endif %}        
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}
